html,body{
    margin:0;
}
h1,small{
    margin:0;
}
.wrapper{
    background-color:#FFFC00;
    color:#222;
    font-family:Baloo Tamma,Arial;
    display:flex;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    max-height:100%;
}
h1{
    color:#222;
    font-size:62px;
    line-height:20px;
}
small{
    opacity:0.3;
    font-size:14px;
    letter-spacing: 1.2pt;
}
@media (max-width:720px){
    h1{
        font-size:32px;
    }
}
@media (max-width:340px){
    h1{
        font-size:24px;
    }
}