html,body{
    margin:0;
}
h1,small{
    margin:0;
}
h2{
    font-family:'Open Sans';
    color:#888;
}
.wrapper{
    background-color:#fff;
    color:#222;
    font-family:'Open Sans';
    display:flex;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    height:100vh;
    max-height:100%;
}
.content{
    max-width: 960px;
    margin:0 auto;
}
.well{
    background:#fff;
    padding:2em;
    font-family:'Open Sans', 'Segoe UI', Helvetica, sans-serif;
}
#contact-link{
    margin:0 auto;
    padding:1em 2em;
    background:#e64c4c;
    color:#fff;
    text-decoration: none;

}
h1{
    color:#222;
    font-size:62px;
    line-height:20px;
}
small{
    opacity:0.3;
    font-size:14px;
    letter-spacing: 1.2pt;
}
@media (max-width:720px){
    h1{
        font-size:32px;
    }
}
@media (max-width:340px){
    .wrapper{
        margin-top:45vh;
        margin:0 auto;
    }
    h1{
        font-size:26px;
    }
}