html,body{
    margin:0;
}
h1,small{
    margin:0;
}
.wrapper{
    background-color:#FFFC00;
    color:#222;
    font-family:Baloo Tamma,Arial;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    max-height:100%;
}
h1{
    color:white;
    -webkit-text-stroke: 0.1px black;
    font-size:62px;
    line-height:20px;
}
small{
    opacity:0.3;
    font-size:14px;
    letter-spacing: 1.2pt;
}
